img{
    width: 125px;
}

#name {
    font-family: Paytone one, sans-serif;
    color: black;
    text-align: center;
    font-weight:bold;  
    font-size: 40px;    
}
#job {
    font-family: Paytone one, sans-serif;
    color: red;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    
}
#age {
    font-family: 'Paytone one', sans-serif;
    color: black;
    text-align: left;
    font-size: 11;

}
#ville {
    font-family: 'Paytone one', sans-serif;
    color: black;
    text-align: left;
    font-size: 11;
 
}
#email {
    font-family: 'Paytone one', sans-serif;
    color: black;
    text-align: left;
    font-size: 11;

}
#mobilite {
    font-family: 'Paytone one', sans-serif;
    color: black;
    text-align: left;
    font-size: 11;

}

#header {
    width: 75%;
    height: 200px;
    background-color: #808080; 
    border-style: solid;
    font-size: 16px;
    margin-left: 250px;

}
#header p {
    text-align: center;
    font-size: 30px;
    font-family: Paytone one, sans-serif;
}

h3 {
    font-family: Paytone one, sans-serif;
    color: red;
    margin-left: 20px;
    font-size: 20px;


}
#formation {
    border-style:solid;
    height: 80;
    text-align: left;
    font-family: Paytone one, sans-serif; 
    font-size: 16px;
} 
#experience {
    border-style:solid;
    height: 110;
    text-align: left;
    font-family: 'Paytone one', sans-serif;
    
    font-size: 16px;
}

#competences {
    border-style:solid;
    height: 70;
    text-align: left;
    font-family: Paytone one, sans-serif;
    font-size: 16px;
  
}
#centresinteret {
    border-style:solid;
    height: 70;
    text-align: left;
    font-family: Paytone one, sans-serif;
    font-size: 16px;
    
}
#footer {
    height: 200px;
    width: 75%;
    font-size: 16px;
    clear: both;
    color: #000000;
    margin-left: 250px;
}
#footer p {
    position: relative;
    margin-bottom: : 10px;
    border-style:dashed;
    border-color: #00FF00;
    border-width: 7px;
    height: 30;
    text-align: center;
    font-family: Paytone one, sans-serif;
    background-color: #FFFF00;
    font-size:16px;
}
#footer img {
    height: 100px;
    width: 100px;
}
